* {
    margin: 0px;
    padding: 0px;
}

.nav-bar {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: brown;
}

.nav-bar-index {
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.3);
}

#img-header{
    background-image: url("./img/home.jpg");
    background-size: 100%;
    height: 600px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.nav-bar .logo, .nav-bar-index .logo {
    height: 36px;
    width: 36px;
    padding: 12px;
    position: relative;
}

.nav-bar .logo, .nav-bar-index {
    background-color: brown;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.welcome-message {
    color: brown;
    padding: 56px 0px 24px 0px
}

.nav-bar-index > a,.nav-bar > a{
    font-size: 20px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Georgia;
    font-weight: bold;
    align-items: center;
    color: white;
    margin-right: 50px;    
}

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-item {
    flex: 1;
    margin: 8px;
    border-width: 1px;
    border-style: solid;
    padding-bottom: 12px;
    border-radius: 12px;
    border-color: brown;
    box-shadow: 4px 4px 10px grey;
    overflow: hidden;
}

div.content {
    padding-left: 12px;
    padding-right: 12px;
}

.content h3 {
    padding: 12px 0px;
    font-size: 20px;
    text-align: center;
}

div.card-footer {
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-order {
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 8px;
    background: brown;
    color: white;
    padding-bottom: 8px;
    border-radius: 4px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
}


.btn-order:hover{
    background-color: black;
}

.header {
    position: relative;
    margin: 0;
}

.header img{
    width: 100%;
    height: 320px;
    padding-top: 24px;;
}

.header .title {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-bottom-right-radius: 24px;
    overflow: hidden;
    background: black;
}

.btn-checkout {
    flex: 1;
    padding: 12px 24px;
    margin: 24px 8px;
    background: brown;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    display: flex;
}

.btn-checkout-index {
    padding:12px;
    margin: 24px 56px;
    background: brown;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    color: white;
    border-radius: 8px;
    display: flex;
}


.btn-checkout:hover, .btn-checkout-index:hover{
    background-color: #555;
}

.main-container{
    display: flex;
    flex-direction: column;
    margin-left: 48px;
    margin-right: 48px;
}

div.footer{
    height: 160px;
    background: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.home {
    background: url("./img/home.jpg") 80px -100px;
    background-position: center;
    padding: 10%;
}

.btn {
    display: inline-block;
    border: none;
    border-radius: 10px;
    background-color: rgba(53, 46, 44, 0.9);
    color: white;
    padding: 0.75rem 1.5rem;
    margin-top: 120px;
    margin-left: 550px; 
    text-decoration: none;
    transition: opacity 1s ease-in;
}

.btn:hover{
    opacity: 0.7;
}

.order {
    height: 160px;
    background: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

form {
    padding: 7% 6%;
    background-image: url("./img/backgound.jpeg");
}


#form {
    padding-top: 10px;
}

.form-control {
    width: 100%;
    border-radius: 8px;
    color: #c69c6d;
    border: none;
    background-color: #252525;
    position: relative;
    font-size: 14px;
    line-height: 2.3;
    display: block;
}

fieldset #form-subjek, #form-nama, #form-numberhp, #email {
    width: 100%;
    height: 40px;
    color: black;
    z-index: 1;
    border-radius: 10%;
}

fieldset #form-pesan {
    width: 100%;
    height: 100px;
    color: black;
    z-index: 1;
    padding-top: 15px;
}

h1 {
    color: white;
    font-family: sans-serif;
    font-size: 30px;
}

strong {
    color: white
}

.contact .form .form-subjek {
    color:white;
}


#alamat  {
    background-color: white;
    position: relative;
}

